*.launch
*.prefs
*.
*.hex
*.pp
*.obj
*.mk
*.opt
*.map
*.out
*.ccsproject
*.cproject
*.project
*.cmd
*.ccxml
*.txt
*.nfo
.launches/
.settings/
bluerobin/
868MHz - Unrestricted CCS Platinum/
simpliciti/
targetConfig/
driverlib/
driver/
makefile*
